.father {
    display: flex;
    flex-direction: row; /*default: row*/
    /*Main Axis*/
    justify-content: space-around;
    height: 100vh;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    align-content: flex-start;
}

.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;

    /*숫자를 가운데 오게 하려고 child도 flex container로 바꿈*/
    display: flex;
    justify-content: center;
    align-items: center;
}
